@import url("//fonts.googleapis.com/css?family=Montserrat:400,700");

html {
  margin: 0;
  height: 100%;
}

body{
  font-family: Montserrat;
  background: #0E051F;
  text-align: center;
  color: #00FFEC;
}

select, button {
  color: #00FFEC;
  background: none;
  outline: none;
  font-family: Montserrat;
  font-size: 1em;
}

button {
  margin-top: 6px;
  border: 2px solid;
}

.dropdown .dropdown-select:focus {
  color: #FF00B8;
}

.dropdown .dropdown-select > option {
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}

select.dropdown-select option:checked {
  box-shadow: 0 0 10px 100px #FF00B8 inset;
}

.dropdown-select {
  max-width: 100%;
  background-color: rgba(191, 191, 191, 0.11);
  border-
  font-size: 18px;
  font-weight: bolder;
  border: 0px;
}

.square {
  text-decoration: none;
  color: #35B9AF;
  line-height: 1;
  font-size: 63px;
  display: inline-block;
  background: rgba(132, 77, 162, 0.12);
  border: rgba(0, 0, 0, .8);
  width: 1em;
  height: 1em;
}

.board {
  width: 15em;
  display: inline-block;
  padding-top: 35px;
}

.first-msg {
  margin-top: 18px;
}
#game-over-msg {
  color: #FF00B8;
}
