<form class="form-control" action="/new" method="post">
  Mode:
  <select name="mode">
    <option value="p,x,p,o">Player 1 (X) vs Player 2 (O)</option>
    <option value="p,o,p,x">Player 1 (O) vs Player 2 (X)</option>
    <option value="p,x,c,o">Player 1 (X) vs Computer (O)</option>
    <option value="p,o,c,x">Player 1 (O) vs Computer (X)</option>
    <option value="c,x,c,o">Computer 1 (X) vs Computer 2 (O)</option>
    <option value="c,o,c,x">Computer 1 (O) vs Computer 2 (X)</option>
  </select>
  <button type="submit" class="btn">NEW</button>
</form>
