<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>XO</title>
    <link href="/css/style.css" rel="stylesheet">
  </head>

  <body>
      <h1>XO</h1>
      <form class="dropdown" action="/new" method="post">
        <br>
        <select name="players" class="dropdown-select">
          <option selected disabled>Choose mode</option>
          <option value="player,x,computer,o">Player 1 (X)    vs    Computer (O)</option>
          <option value="player,o,computer,x">Player 1 (O)    vs    Computer (X)</option>
          <option value="player,x,player,o">Player 1 (X)    vs    Player 2 (O)</option>
          <option value="player,o,player,x">Player 1 (O)    vs    Player 2 (X)</option>
          <option value="computer,x,player,o">Computer (X)    vs    Player (O)</option>
          <option value="computer,x,computer,o">Computer 1 (X)  vs  Computer 2 (O)</option>
          <option value="computer,o,computer,x">Computer 1 (O)  vs  Computer 2 (X)</option>
        </select>
        <button type="submit" class="btn">NEW</button>
      </form>
    <%= yield %>
  </body>

</html>
